@tailwind base;
@tailwind components;
@tailwind utilities;



video,img{
  display: block;
  width: 100%;
}

section{
  @apply max-w-7xl mx-auto py-16
}


.rotate-circle{
  animation: rotateAnimation 50s infinite  ease;
}

@keyframes rotateAnimation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}